### Git ###
!.gitkeep


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/

/.nb-gradle/


### VS Code ###
.vscode/

dump.rdb


### OS Specific ###
.DS_Store
.tmp/

tmp/


### Node / NPM ###
coverage/
logs/
node_modules/

.npmrc

npm-debug.log
package-lock.json


### Project Specific ###
src/config.json
src/config-template.json
src/assets/icons/*
src/assets/tinymce/
!src/assets/icons/custom/weaver-w.svg
!src/assets/icons/feather/chevron-right.svg

.wvr-ud/static-assets/styles.css
.verdaccio

docs/
static/
development/
.lighthouseci/
