language: node_js

node_js:
  - "10"

services:
  - xvfb

install:
  - npm install
script:
  - npm run test:ci
after_success:
  - npm run test:report
  - npm run build:docs-production

notifications:
  webhooks:
    urls:
      - https://coveralls.io/webhook

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  on:
    branch: master
