#
# This overrides file should contain only those value which need to be overriden
# in ./defaults.env when running `npm start:dist`
#

THEME=default
BASE_URL=http://localhost:8080
ASSETS_URL=http://localhost:8080/assets

THEME=default
BASE_URL=https://api.library.tamu.edu/
ASSETS_URL=https://api.library.tamu.edu/wvr-components/latest/assets
