#
# This overrides file should contain only those value which need to be overriden
# in ./defaults.env when running `npm start:dist`
#

BASE_URL=http://localhost:8080
ASSETS_URL=http://localhost:8080/assets
